/*body {
    background-color:gray;
}

#guestdiv {
    margin:20px 20px 20px 400px;
}

#headdiv {
    margin:20px 20px 20px 100px;
}

#spanmobile {
    padding:50px 20px 20px 20px;
}

#txtgmob ,#txtadd{
    width:200px;
}

#txtadd {
    padding:20px 20px 20px 20px;
}*/